<div class="election-card" [ngClass]="status" (click)="onCardClick()">
  <h3 class="title">{{ election.title }}</h3>
  <div class="election-badge" [ngClass]="status.toLowerCase()">{{ status | uppercase }}</div>

  <div class="election-stats">
    <div class="stat">
      <span class="stat-label">POSITIONS:</span>
      <span class="stat-value">{{ election.position_count || 0 }}</span>
    </div>

      <div class="stat">
    <span class="stat-label">CANDIDATES:</span>
    <!-- Show total candidates instead of votes -->
    <span class="stat-value">{{ election.total_candidates || 0 }}</span>
  </div>
  </div>


  <button *ngIf="showVoteButton" class="vote-btn">
  {{ status === 'active' ? 'Vote' : status === 'pending' ? 'See Details' : 'View Result' }}
</button>
</div>