<div class="election-container">

  <!-- HEADER -->
  <div class="header">
    <div class="left">
      <div class="thumbnail"></div>

      <div class="title-group">
        <h2> {{ election?.title }} </h2>
        <p> {{ election?.description ?? "No Description"}} </p>
      </div>
    </div>

    <div class="menu">☰</div>
  </div>

  <!-- DATE SECTION -->
  <app-datetime-setter></app-datetime-setter> 

  <!-- DURATION -->
  <app-countdown></app-countdown>

  <app-post-list></app-post-list>>

</div>