<div class="election-container">

  <!-- HEADER -->
  <div class="header">
    <div class="left">
      <div class="thumbnail"></div>

      <div class="title-group">
        <h2> {{ election?.title }} </h2>
        <p> {{ election?.description ?? "No Description"}} </p>
      </div>
    </div>

    <div class="menu">☰</div>
  </div>

  <!-- DATE SECTION -->
  <app-datetime-setter></app-datetime-setter> 

  <!-- DURATION -->
  <app-countdown></app-countdown>

  <!-- POSITIONS -->
  <div class="positions">
    <div class="top">
      <label>POSITIONS:</label>
      <input type="text" placeholder="Position Name">
      <button>Add</button>
    </div>

    <div class="table">
      <div class="table-header">
        <span>#</span>
        <span>NAME</span>
        <span># OF CANDIDATES</span>
      </div>

      <div class="table-body">
        <div class="row">
          <span>01</span>
          <span>POSITION NAME-1</span>
          <span>23</span>
        </div>

        <div class="row">
          <span>02</span>
          <span>POSITION NAME-2</span>
          <span>12</span>
        </div>

        <div class="row">
          <span>03</span>
          <span>POSITION NAME-3</span>
          <span>8</span>
        </div>

        <!-- duplicate rows to test scroll -->
        <div class="row"><span>04</span><span>POSITION NAME-4</span><span>5</span></div>
        <div class="row"><span>05</span><span>POSITION NAME-5</span><span>9</span></div>
        <div class="row"><span>06</span><span>POSITION NAME-6</span><span>2</span></div>
      </div>
    </div>
  </div>

</div>