@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;700&display=swap');

$color-primary: #304C6A;
$color-primary-variant: #3c5c7f;
$color-primary-light: #B6CED8;
$color-primary-dark: #213448;

$color-secondary: #EAE0CF;

$color-success: #10b981;
$color-warning: #f59e0b;
$color-danger: #ef4444;

$font-color-light: #ffffff;
$font-color-dark: #192837;

$font-primary: 'Onest', sans-serif;