<label>DURATION:</label>

<div class="timer-box">

  <div class="time">
    <input type="number" class="timer-input" [(ngModel)]="countdown.days" min="0" step="1">
    <small>DAYS</small>
  </div>

  <div class="divider"></div>

  <div class="time">
    <input type="number" class="timer-input" [(ngModel)]="countdown.hours" min="0" step="1">
    <small>HOURS</small>
  </div>

  <div class="divider"></div>

  <div class="time">
    <input type="number" class="timer-input" [(ngModel)]="countdown.minutes" min="0" step="1">
    <small>MINUTES</small>
  </div>

  <div class="divider"></div>

  <div class="time">
    <input type="number" class="timer-input" [(ngModel)]="countdown.seconds" min="0" step="1">
    <small>SECONDS</small>
  </div>

</div>