  <!-- POSITIONS -->
  <div class="positions">
    <div class="top">
      <label>POSITIONS:</label>
      <input type="text" placeholder="Position Name">
      <button>Add</button>
    </div>

    <div class="table">
      <div class="table-header">
        <span>#</span>
        <span>NAME</span>
        <span># OF CANDIDATES</span>
      </div>

      <div class="table-body">
        <div class="row"><span>06</span><span>POSITION NAME-6</span><span>2</span></div>
      </div>
    </div>
  </div>